@import '../css/reset.css';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ivy Mode', sans-serif;

}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.h2-contact {
  font-size: 3.2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}



h4 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0rem;
  font-size: 1.7rem;
}

.whatsapp-article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #25d366;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  position: relative;
}

.whatsapp-icon {
  width: 50px;
  height: auto;
  margin-left: 20px;
}

.personalized-card {
  width: 100%;
  max-width: 32rem;
  max-height: 52rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);
  background-color: #251c1f85;
  padding: 1rem;
  color: var(--white-color);
  text-align: center;
  border: 4px solid #ffffffab;
  border-radius: 10px;
}

.personalized-card2 {
  width: 100%;
  max-width: 32rem;
  max-height: 72rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: #251c1f56;
  padding: 1rem;
  color: var(--white-color);
  text-align: center;
  border: 3px solid var(--gold-color);
  border-radius: 10px;
}

.personalized-card2 .hidden-paragraph {
  display: none;
}

.personalized-card2:hover .hidden-paragraph {
  display: block;
}

.personalized-card2:hover .p-detail {
  display: none;
}

.p-contact {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  display: inline;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(to right, #ffdc19, #f78503);
  -webkit-background-clip: text;
  color: transparent;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.p-contact:hover {
  border-radius: 15px;
  background: linear-gradient(to right, #ffdc19, #f78503);
  color: #ffffff;
  transform: scale(1.1);

}

.footer {
  text-align: center;
}

.footer a {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.footer p {
  margin: 0;
  padding: 5rem;
}

.heart {
  color: var(--secondary-color);
}

iframe {
  width: 100%;
  height: 500px;
}

@media (max-width: 800px) {


  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.7rem;
  }

  h6 {
    font-size: 2.3rem;
  }
}

@media (max-width: 300px) {

  h2 {
    font-size: 2.8rem;
  }
}