@import '../css/reset.css';

.intro-content {
  position: relative;
  top: 0rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 45vh;
  text-align: left;
}
.intro-content h4 {
  border-bottom: 1px solid #000; 
  padding-bottom: 10px; 
}

.intro-text-content {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  justify-content: center;
}
.intro-text-content h4 {
  border-bottom: 1px solid #000; 
  padding-bottom: 10px; 
}

.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.bordered-image {
  border: 6px solid var(--gold-color);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.bordered-image-researche {
  border: 2px solid var(--gold-color);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.bordered-section {
  border: 6px solid var(--gold-color);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.logo-container {
  text-align: center;
}

.logo-img {
  width: 350px;
  height: auto;
  margin-bottom: 0px;
}

.person-img img,
.person-img svg {
  max-width: auto;
  width: 250px;
  height: auto;
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.h-gold {
  color: var(--gold-color);
}

.p-detail {
  font-size: 0.5em;
}


.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white-color);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--primary-color);
}

@media (max-width: 800px) {

  .intro-content,
  .grid {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .grid-one-content {
    display: block;
  }
}

.link {
  color: white;
  font-weight: bold;
}

@media (max-width: 270px) {

  .intro-content,
  .grid {
    grid-template-columns: 1fr;
  }

  .grid h3 {
    font-size: 2.5rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
  }

  .person-img img,
  .person-img svg {
    width: 200px;
    height: auto;
    margin-left: 10px;
  }

}

@media (max-width: 360px) {
  .logo-img {
    width: 230px;
    height: auto;
    margin-bottom: 0px;
    justify-items: center;
    align-items: center;
  }
}